html,body{
	margin:0;
	padding:0;
	width:100%;	
	/*height:100%;*/
}

.wrapper{
	width:100%;	
	height:100%;
	overflow:auto;
	min-width:1238px;
}

header{
	width:100%;
	height:55px;
	line-height:55px;
	background:-ms-linear-gradient(top,#2189bf,#228abf,#2189bf,#2289bf);
	background:-webkit-linear-gradient(top,#2189bf,#228abf,#2189bf,#2289bf);
	background:-moz-linear-gradient(top,#2189bf,#228abf,#2189bf,#2289bf);
	background:-o-linear-gradient(top,#2189bf,#228abf,#2189bf,#2289bf);
	position:absolute;
	z-index:1;
}

.header_logo{
	display:inline-block;
	position:absolute;
	left:50px;
	top:50%;
	transform:translateY(-50%);
}

#header_right{
	display:inline-block;
	position:absolute;
	right:55px;
	line-height:55px;
	height:55px;
}

#header_right form{
	position:relative;	
	display:inline-block;
}

#header_search_content{
	padding:5px 13px 5px 28px;
	font-size:14px;
	border:0;
	border-radius:14px;	
	position:relative;
}

#header_right .header_right_input_bg{
	position:absolute;
	z-index:2;
	left:6px;
	top:50%;
	transform:translateY(-50%);	
}

#header_right .header_right_login{
	display:inline-block;
	margin-left:10px;	
}

#header_login_btn{
	text-decoration:none;
	color:#fff;
	display:inline-block;	
}

.content{
	overflow:auto;
	background:#eeeded;	
	padding-top:55px;
	width:100%;
	height:100%;
	box-sizing:border-box;
	position:relative;
}

#left_side_bar{
	width:250px;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	padding-top:55px;
	z-index:0;
	background:#2a2e3d;
	box-sizing:border-box;
}

#left_side_bar_title{
	margin-top:30px;
	margin-bottom:20px;
	padding-left:50px;
	position:relative;
}

#left_side_bar_title a{
	display:inline-block;
	color:#fff;
	text-decoration:none;	
	margin-left:30px;
	font-weight:bold;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
}

#main_content{
	padding-left:250px;
	height:100%;	
}

#left_side_bar_info{
	padding-left:60px;
	margin-bottom:20px;
}

#left_side_bar_info p a{
	color:#67778b;
	font-weight:bold;
	font-size:18px;
	text-decoration:none;
}

#left_side_bar_info p{
	color:#67778b;
	font-weight:bold;
	font-size:16px;	
	margin:5px 0;
}

#left_side_bar_info_left,#left_side_bar_info_right{
	display:inline-block;	
}

#left_side_bar_info_left{
	padding:0 21px 0 0;	
}

#left_side_bar_info_middle{
	width:1px;
	height:35px;
	background:#67778b;
	display:inline-block;	
}

#left_side_bar_info_right{
	padding:0 0 0 21px;	
}

/*列表*/
#left_side_bar_list{
	list-style:none;
	margin-left:20px;
	margin-top:40px;
}

#left_side_bar_list ol{
	padding-top:1em;	
}

#left_side_bar_list ol li{
	list-style:none;		
}
	
#left_side_bar_list label{
	cursor:pointer;	
	color:#6e8095;
	
}

#left_side_bar_list input[type="checkbox"]{
	display:none;	
}

#left_side_bar_list input[type="checkbox"] ~ ol{
	display:none;	
}

#left_side_bar_list input:checked ~ ol{
	display:block;	
}

#left_side_bar_list .leaf_item{
	cursor:pointer;	
	color:#6e8095;
}

#left_side_bar_list li{
	margin-bottom:1em;	
}

#left_side_bar_list ol.second_level_list,ol.three_level_list{
	padding-left:20px;
}

#left_side_bar_list .person_report_item{
	background:url(../images/task_nine/images/task_1_9_5_03.gif) no-repeat left center;
	padding-left:18px;
}

#left_side_bar_list .person_collection_item{
	background:url(../images/task_nine/images/task_1_9_5_06.gif) no-repeat left center;
	padding-left:18px;	
}

#left_side_bar_list .my_share_item{
	background:url(../images/task_nine/images/task_1_9_5_08.gif) no-repeat left center;
	padding-left:18px;	
}

#left_side_bar_list .gallery_item{
	background:url(../images/task_nine/images/task_1_9_5_10.gif) no-repeat left center;
	padding-left:18px;	
}

#left_side_bar_list .grow_record_item{
	background:url(../images/task_nine/images/task_1_9_5_10.gif) no-repeat left center;
	padding-left:18px;	
}

#left_side_bar_list .account_info_item{
	background:url(../images/task_nine/images/task_1_9_5_12.gif) no-repeat left center;
	padding-left:18px;	
}

#left_side_bar_list .second_level_list label{
	background:url(../images/task_nine/images/task_1_9_6_03.gif) no-repeat left center;
	padding-left:18px;		
}

#left_side_bar_list>li>input:checked~ol>li>input:checked+label{
	background:url(../images/task_nine/images/task_1_9_6_07.gif) no-repeat left center;
	padding-left:18px;		
}

#left_side_bar_list .leaf_item{
	background:url(../images/task_nine/images/task_1_9_7_03.gif) no-repeat left center;
	padding-left:18px;		
}

/*********************************/

#main_content_header{
	width:100%;
	height:40px;
	line-height:40px;
	background:#fff;
	padding-left:30px;
	box-sizing:border-box;	
}

#main_content_header span{
	color:#aaaaaa;	
}

#main_content_header span span{
	color:#6898c2;	
}

#main_content_info{
	width:95%;
	margin:30px auto;
	background:#fff;
	padding:1em 2em;
	position:relative;
	box-sizing:border-box;
	overflow:auto;
}

#main_content_info_search{	
	display:inline-block;
	margin-right:2em;	
	position:absolute;
	top:1em;
}

.select_hint{
	font-size:14px;
	color:#CCC;	
}

/********自定义选择框*********/

.custom_select_wrapper{
	position:relative;
	display:inline-block;	
}

.custom_select{
	padding:0.3em;
	z-index:0;
	color:#333;
}

.custom_select_btn{
	position:absolute;
	right:3px;
	top:4px;
	z-index:1;
	display:inline-block;
	background:url(../images/task_nine/images/task_1_10_1_03.gif) no-repeat center center;
	width:20px;
	height:20px;
	cursor:pointer;
}

.custom_select_checkout{
	display:none;	
}

.custom_select_items{
	position:absolute;
	list-style:none;
	margin:0;
	padding:0;
	background:#fff;
	width:100%;	
	text-align:center;
	display:none;
	z-index:100;
}

.custom_select_items li{
	padding:0.5em;	
	cursor:pointer;	
}

.custom_select_items li:hover{
	background:#CCC;		
}

.custom_select_checkout:checked + ol{
	display:block;
}

/**************************/

#business_switch{
	display:inline-block;
	margin-left:13em;
}

#purchaser_wrapper{
	margin-bottom:1em;	
}

#business_switch_img{
	display:inline-block;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	margin-right:2em;	
}

#select_detail_info{
	display:inline-block;
	margin-left:50px;		
}

#select_detail_info div:first-child{
	margin-bottom:16px;	
}

#search_info_submit_btn{
	display:inline-block;	
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	margin-left:2em;
	padding:0.5em 1em;
	background:#398bc2;
	border:0;
	border-radius:2px;
	color:#fff;
}

#price_search{
	width:95%;
	margin:30px auto;
	position:relative;
	box-sizing:border-box;
	height:60px;
}

#price_search_back{
	width:30px;
	height:100%;
	background:#fff url(../images/task_nine/images/task_1_13_1_04.gif) no-repeat center center;
	display:inline-block;
	cursor:pointer;
	float:left;
}

#price_search_items{
	display:block;
	height:60px;
	position:relative;	
	overflow:hidden;
}

#price_search_items .price_search_item{
	width:110px;
	height:60px;
	line-height:30px;
	background:#fff;
	display:inline-block;
	margin-left:15px;	
	cursor:pointer;
	text-align:center;
}

#price_search_items .price_search_item p{
	margin:0;	
}

#price_search_items .price_search_item .price_search_item_time{
	font-family:"Microsoft YaHei";
	font-size:14px;	
}

#price_search_items .price_search_item .price_unit{
	font-weight:bold;
	color:#666;	
}

#price_search_items .price_search_item .price_count{
	font-size:20px;	
	font-weight:bold;
	color:#ec6500;
}

#price_search_forward{
	width:30px;
	height:100%;
	background:#fff url(../images/task_nine/images/task_1_13_1_03.gif) no-repeat center center;
	display:inline-block;
	float:right;
	cursor:pointer;	
}

#price_search_history{
	width:150px;
	height:60px;
	line-height:60px;
	display:inline-block;
	background:#fff url(../images/task_nine/images/task_1_12_1_03.gif) no-repeat 20px center;
	float:right;
	margin-left:20px;
	cursor:pointer;	
	text-align:right;
	padding-right:20px;
	box-sizing:border-box;
}

#price_search_history span{
	color:#666;	
}

#statistics_data{
	width:95%;
	margin:30px auto;
	position:relative;
	box-sizing:border-box;
	height:70px;	
	text-align:justify;
}

#statistics_data .statistics_data_part{
	height:70px;
	line-height:35px;
	width:23%;
	background:#fff;
	display:inline-block;
	cursor:pointer;	
	box-sizing:border-box;
	padding-left:1em;
	color:#333;
	position:relative;
}

#statistics_data p{
	margin:0;	
}

#statistics_data_part_1{
	border-left:5px solid #43b29d;	
}

#statistics_data_part_2{
	border-left:5px solid #388ac1;	
}

#statistics_data_part_3{
	border-left:5px solid #d04a36;	
}

#statistics_data_part_4{
	border-left:5px solid #e2cd46;	
}


#statistics_data_extra_span{
	display:inline-block;
	width:100%;	
}

#statistics_data .statistics_data_part_left{
	display:inline-block;	
}

#statistics_data_part_1 .statistics_data_part_right{
	width:60px;
	height:50px;
	background:#43b29d;	
	display:inline-block;
	float:right;
	margin-right:20px;
	margin-top:10px;
	margin-bottom:10px;
}

#statistics_data_part_2 .statistics_data_part_right{
	width:60px;
	height:50px;
	background:#388ac1;	
	display:inline-block;
	float:right;
	margin-right:20px;
	margin-top:10px;
	margin-bottom:10px;
}

#statistics_data_part_3 .statistics_data_part_right{
	width:60px;
	height:50px;
	background:#d04a36;	
	display:inline-block;
	float:right;
	margin-right:20px;
	margin-top:10px;
	margin-bottom:10px;
}

#statistics_data_part_4 .statistics_data_part_right{
	width:60px;
	height:50px;
	background:#e2cd46;	
	display:inline-block;
	float:right;
	margin-right:20px;
	margin-top:10px;
	margin-bottom:10px;
}

#projects_detail{
	width:95%;
	margin:30px auto;
	position:relative;
	box-sizing:border-box;
	height:400px;	
}

#projects_detail_left{
	height:100%;
	width:64%;
	float:left;	
	background:#fff;
	border-radius:10px;
	overflow:auto;
}

#projects_detail_right{
	height:100%;
	width:34%;
	float:right;	
	background:#fff;
	border-radius:10px;
	color:#333;
	padding-bottom:30px;
	box-sizing:border-box;
	position:relative;
}

.font_fade{
	color:#999;	
}

#projects_detail .projects_detail_header{
	background:#f4f5f6;
	padding:15px 20px;
	color:#999;	
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}

#projects_table .projects_tab{
	display:inline-block;	
	padding:0.5em 1em;
	border-top:1px solid #CCC;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	cursor:pointer;
}

#projects_table_wrapper{
	position:relative;
	padding:20px;	
	border:1px solid #CCC;
}

#projects_table{
	margin:20px 30px;
}

#projects_detail_sub{
	padding:15px 30px;
}

#projects_table_detail{
	border:1px solid #CCC;
	width:100%;
	border-collapse:collapse;
}

#projects_table_detail td{
	padding:0.75em 1.5em;;
	border:1px solid #CCC;
	font-size:14px;
	color:#333;
	cursor:pointer;
}

#projects_detail_right_content_title p{
	margin:0.2em;
}

#projects_detail_right_content{
	border-top:1px solid #CCC;	
	border-bottom:1px solid #CCC;
	overflow:auto;
}

#projects_detail_right_content_left{
	float:left;	
	border-right:1px solid #CCC;
	padding-right:3em;
}

#projects_detail_right_content_right{
	float:left;	
	padding-left:2em;
}

#projects_detail_right_third_level p{
	margin:0.2em;
}

#projects_detail_right_content p{
	margin:0.2em;	
}

#projects_detail_right_content_left .money_unit{
	color:#000;	
}

#protocol_wrapper{
	display:block;
	margin:100px 30px 30px 30px;	
	padding-top:6px;
	border-top:1px solid #CCC;
	overflow:auto;
	height:30px;
	line-height:30px;
}

#protocol_search_btn{
	float:right;	
	border:0;
	padding:0.5em 1em;
	border-radius:5px;
	background:#388ac1;
	color:#fff;
}

#extra_info{
	width:95%;
	margin:30px auto;
	position:relative;
	box-sizing:border-box;
	height:600px;
	overflow:auto;	
}

#calendar{
	width:39%;
	height:100%;
	background:#fff;
	float:left;	
	border-radius:10px;
	overflow:auto;
}

#car_sale_info{
	width:59%;
	height:100%;
	background:#fff;
	float:right;
	border-radius:10px;	
}

#extra_info .extra_info_detail_header{
	background:#f4f5f6;
	padding:15px 20px;
	color:#999;	
	border-top-left-radius:10px;
	border-top-right-radius:10px;	
}

#calendar_module{
	padding:15px 15px 30px 15px;
	color:#43b29d;
}

#calendar_module_first_level{
	text-align:justify;	
}

.custom_select_items_extra{
	height:10em;
	overflow:auto;
}

#back_to_today{
	padding:0.4em;
	z-index:0;
	color:#333;
	background:#fff;
	border:1px solid #CCC;	
}

#calendar_table{
	color:#000;	
	width:100%;
	margin-top:1em;
}

#calendar_table p{
	margin:0;	
}

#calendar_table .calendar_title_bottom_border{
	width:100%;
	height:1px;
	background:#CCC;
	margin-top:0.3em;
	margin-bottom:0.3em;	
}

#calendar_table .calendar_title_top_border{
	width:100%;
	height:1px;
	background:#a9cfec;
	margin-bottom:0.3em;	
}

#calendar_table td{
	text-align:center;	
	padding:0.3em;
}

#calendar_table tr{
	margin-bottom:1.8em;	
}

.calendar_table_highlight{
	color:#cd3539;	
}

.calendar_table_td_highlight{
	border:1px solid #f6c62b;
	box-sizing:border-box;	
}

#car_table{
	width:80%;
	margin:30px auto;	
	border:1px solid #CCC;
	border-collapse:collapse;
}

#car_table td,th{
	border:1px solid #CCC;
	padding:0.5em 0.5em;	
	position:relative;
}

#car_table tr:not(:first-child):hover{
	background:#f4f6f7;	
}

#car_table .progress_wrapper{
	width:50%;
	height:4px;
	background:#CCC;	
	display:inline-block;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	margin-left:10px;
}

#car_table .progress_wrapper_sub1{
	width:90%;
	height:100%;
	background:#ed6e52;	
}

#car_table .progress_wrapper_sub2{
	width:85%;
	height:100%;
	background:#ee804f;	
}

#car_table .progress_wrapper_sub3{
	width:80%;
	height:100%;
	background:#f19f4f;	
}

#car_table .progress_wrapper_sub4{
	width:75%;
	height:100%;
	background:#7fcbf0;	
}

#car_table .progress_wrapper_sub5{
	width:70%;
	height:100%;
	background:#7fcbf0;	
}

#car_table .progress_wrapper_sub6{
	width:65%;
	height:100%;
	background:#7fcbf0;	
}

#car_table .progress_wrapper_sub7{
	width:60%;
	height:100%;
	background:#7fcbf0;	
}

#car_table .progress_wrapper_sub8{
	width:55%;
	height:100%;
	background:#7fcbf0;	
}

#car_table .progress_wrapper_sub9{
	width:50%;
	height:100%;
	background:#7fcbf0;	
}

#car_table .progress_wrapper_sub10{
	width:45%;
	height:100%;
	background:#7fcbf0;	
}